body {
    background-color: rgb(0, 0, 0);
}
.t {
    font-family: sans-serif;
    text-align: center;
    color: rgb(128, 127, 127);
}
.s {
    font-family: sans-serif;
    text-align: center;
    color: red;
}
#w {
    color: white;
}
.nav ul {
    list-style-type: none;
    background-color: rgb(65, 65, 65);
    padding: 10px;
    overflow: hidden;
    margin: 0; /* Remove default margin */
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
    font-family: sans-serif;
}

.nav a:hover {
    background-color: rgb(83, 83, 83);
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.nav li {
    float: left;
    margin: 0;
}

/* Apply styling to the last li element (KingBooan Nettisivu) */
.nav .right {
    float: right;
    background-color: rgb(87, 87, 87);
}